<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicQuery" version="1.0" />
  <package id="EntityFramework" version="4.1.10311.0" />
  <package id="jQuery" version="1.4.4" />
  <package id="jQuery.UI.Combined" version="1.8.7" />
  <package id="jQuery.Validation" version="1.7" />
  <package id="Modernizr" version="1.7" />
  <package id="MvcHelpers" version="0.0.3" />
</packages>