<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <h2>
    Current Date and Time :   {{datetime | date:'yyyy-MM-dd hh:mm'}}
  </h2>
  <h2>Angular 7 Virtual Scrolling </h2>
  <hr />

  <ul class="list">
    <cdk-virtual-scroll-viewport style="width:200px;height: 300px" itemSize="5">
      <ng-container *cdkVirtualFor="let incValue of incrementValue">
        <li> Loop {{incValue}}  </li>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </ul>

  <h2>Angular 7 Drag and Drop </h2>
  <hr />
  <div cdkDropList class="divClasslist" (cdkDropListDropped)="drop($event)">
    <div class="divClass" *ngFor="let decValue of decrementValue" cdkDrag>{{decValue}}</div>
  </div>

  <router-outlet></router-outlet>
