<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="24581AzureMobile.FieldEngineer" Publisher="CN=FE3AAB12-3D59-4E6D-8484-EAC33A25C1E1" Version="1.1.0.10" />
  <Properties>
    <DisplayName>Field Engineer</DisplayName>
    <PublisherDisplayName>Azure Mobile</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="FieldEngineer.App">
      <m2:VisualElements DisplayName="Field Engineer" Square150x150Logo="Assets\Tile_150X150.png" Square30x30Logo="Assets\SearchLogo.png" Description="FieldEngineer" ForegroundText="light" BackgroundColor="#303030" ToastCapable="true">
        <m2:DefaultTile Wide310x150Logo="Assets\Tile_310X150.png" Square310x310Logo="Assets\Tile_310X310.png" Square70x70Logo="Assets\Tile_70X70.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
            <m2:ShowOn Tile="square310x310Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#303030" />
        <m2:ApplicationView MinWidth="width500" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="capptain_log_file">
            <SupportedFileTypes>
              <FileType>.set</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.cachedFileUpdater" />
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="capptain_reach_conten">
            <SupportedFileTypes>
              <FileType>.txt</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>