@{
    ViewBag.Title = "Index";
}
 
<h2>Reports List</h2>
 
<a id="ReportUrl_Performance" href="@Url.Action("ReportTemplate", "Report", 
   new { ReportName = "Performance", ReportDescription = "Performance Report", Width = 100, Height = 650 })">Performance Report</a>
