USE [TrialsDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_Get_SalesOrderDetail]    Script Date: 19-Feb-16 2:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Sibeesh Venu>
-- Create date: <Create Date, 18-Feb-2016>
-- Description:	<Description,To fetch SalesOrderDetail>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Get_SalesOrderDetail] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Select statements for procedure here
	SELECT top(100) SalesOrderID,SalesOrderDetailID,CarrierTrackingNumber,OrderQty,ProductID,UnitPrice,ModifiedDate from dbo.SalesOrderDetail
END

GO
/****** Object:  Table [dbo].[SalesOrderDetail]    Script Date: 19-Feb-16 2:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrderDetail](
	[SalesOrderID] [int] NOT NULL,
	[SalesOrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[CarrierTrackingNumber] [nvarchar](25) NULL,
	[OrderQty] [smallint] NOT NULL,
	[ProductID] [int] NOT NULL,
	[SpecialOfferID] [int] NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[UnitPriceDiscount] [money] NOT NULL,
	[LineTotal]  AS (isnull(([UnitPrice]*((1.0)-[UnitPriceDiscount]))*[OrderQty],(0.0))),
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_SalesOrderDetail_SalesOrderID_SalesOrderDetailID] PRIMARY KEY CLUSTERED 
(
	[SalesOrderID] ASC,
	[SalesOrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblTags]    Script Date: 19-Feb-16 2:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTags](
	[tagId] [int] IDENTITY(1,1) NOT NULL,
	[tagName] [nvarchar](50) NOT NULL,
	[tagDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblTags] PRIMARY KEY CLUSTERED 
(
	[tagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[SalesOrderDetail] ON 

INSERT [dbo].[SalesOrderDetail] ([SalesOrderID], [SalesOrderDetailID], [CarrierTrackingNumber], [OrderQty], [ProductID], [SpecialOfferID], [UnitPrice], [UnitPriceDiscount], [rowguid], [ModifiedDate]) VALUES (43659, 2, N'4911-403C-98', 1, 776, 1, 2024.9940, 0.0000, N'b207c96d-d9e6-402b-8470-2cc176c42283', CAST(0x0000968400000000 AS DateTime))
INSERT [dbo].[SalesOrderDetail] ([SalesOrderID], [SalesOrderDetailID], [CarrierTrackingNumber], [OrderQty], [ProductID], [SpecialOfferID], [UnitPrice], [UnitPriceDiscount], [rowguid], [ModifiedDate]) VALUES (43659, 3, N'4911-403C-98', 3, 777, 1, 2024.9940, 0.0000, N'7abb600d-1e77-41be-9fe5-b9142cfc08fa', CAST(0x0000968400000000 AS DateTime))
INSERT [dbo].[SalesOrderDetail] ([SalesOrderID], [SalesOrderDetailID], [CarrierTrackingNumber], [OrderQty], [ProductID], [SpecialOfferID], [UnitPrice], [UnitPriceDiscount], [rowguid], [ModifiedDate]) VALUES (43659, 4, N'4911-403C-98', 1, 778, 1, 2024.9940, 0.0000, N'475cf8c6-49f6-486e-b0ad-afc6a50cdd2f', CAST(0x0000968400000000 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[SalesOrderDetail] OFF
SET IDENTITY_INSERT [dbo].[tblTags] ON 

INSERT [dbo].[tblTags] ([tagId], [tagName], [tagDescription]) VALUES (1, N'jQuery', N'This tag is all about jQuery')
INSERT [dbo].[tblTags] ([tagId], [tagName], [tagDescription]) VALUES (2, N'Asp.Net', N'This tag is all about Asp.Net')
INSERT [dbo].[tblTags] ([tagId], [tagName], [tagDescription]) VALUES (3, N'C#', N'This tag is all about C#')
SET IDENTITY_INSERT [dbo].[tblTags] OFF
