<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="ServiceBusConfiguration" type="Contoso.Cloud.Integration.Framework.Configuration.ServiceBusConfigurationSettings, Contoso.Cloud.Integration.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=23eafc3765008062"/>
  </configSections>

  <enterpriseLibrary.ConfigurationSource selectedSource="OnPremiseConfigSource">
    <sources>
      <add name="OnPremiseConfigSource" useDefaultServiceBusEndpoint="true" type="Contoso.Cloud.Integration.Azure.Services.Framework.Configuration.OnPremiseConfigurationSource, Contoso.Cloud.Integration.Azure.Services.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=23eafc3765008062"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>

  <ServiceBusConfiguration defaultEndpoint="GenericCloudRequestResponseOnRamp">
    <Endpoints>
      <!-- 
        Update serviceNamespace, issuerName (if differs) and issuerSecret to match the Service Bus service namespace provisioned
        for communication between cloud-based services and on-premises application.
      -->
      <add name="GenericCloudRequestResponseOnRamp" 
           serviceNamespace="[PUT-YOUR-SB-NAMESPACE-HERE]" 
           issuerName="owner" 
           issuerSecret="[PUT-YOUR-SB-ISSUERSECRET-HERE]" 
           servicePath="Contoso.Cloud.Integration.GenericCloudRequestResponseOnRamp" 
           relayMode="Relayed" />
    </Endpoints>
  </ServiceBusConfiguration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
