<?xml version="1.0" ?>
<configuration>
  <!-- This section is to be added to existing BTSNTSvc64.exe.config -->
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="Microsoft.RuleEngine" type="System.Configuration.SingleTagSectionHandler"/>
  </configSections>

  <!-- This section is to be added to existing BTSNTSvc64.exe.config -->
  <enterpriseLibrary.ConfigurationSource selectedSource="RulesEngineSource">
    <sources>
      <add name="RulesEngineSource" type="Contoso.Cloud.Integration.BizTalk.Core.Configuration.RulesEngineConfigurationSource, Contoso.Cloud.Integration.BizTalk.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=23eafc3765008062" policyName="Contoso.Cloud.Integration.Configuration" policyVersion="" />
      <add name="SystemSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>

  <!-- This section is to be added to existing BTSNTSvc64.exe.config -->
  <Microsoft.RuleEngine UpdateServiceHost="localhost" UpdateServicePort="3132" UpdateServiceName="RemoteUpdateService" CacheEntries="500" CacheTimeout="10" PollingInterval="60" TranslationTimeout="3600" CachePruneInterval="60" SqlTimeout="-1" StaticSupport="1"/>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="BizTalk Assemblies;Developer Tools;Tracking;Tracking\interop" />
    </assemblyBinding>
  </runtime>

  <system.runtime.remoting>
    <channelSinkProviders>
      <serverProviders>
        <provider id="sspi" type="Microsoft.BizTalk.XLANGs.BTXEngine.SecurityServerChannelSinkProvider,Microsoft.XLANGs.BizTalk.Engine" securityPackage="ntlm" authenticationLevel="packetPrivacy" />
      </serverProviders>
    </channelSinkProviders>

    <application>
      <channels>
        <channel ref="tcp" port="0" name="">
          <serverProviders>
            <provider ref="sspi" />
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

</configuration>
