<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <!-- This section is to be added to existing machine.config -->
        <add name="selfConfigurableServiceBusEndpointBehavior" type="Contoso.Cloud.Integration.BizTalk.Core.Extensions.SelfConfigurableServiceBusEndpointBehaviorElement, Contoso.Cloud.Integration.BizTalk.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=23eafc3765008062"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>