/* -- Copyright © Microsoft Corporation. All rights reserved. */
.draggable
{
    border: solid thin;
    width: 200px;
    height: 300px;
    float: left; 
    margin: 10px;
    padding: 10px;
}

.shape
{
    float: left;
    margin: 10px;
    
}

.resultContent
{
    overflow: hidden;
}

#filled
{
    clear: both;
}