   
@{
    ViewBag.Title = "Index";
}
 
<h2>PRUEBA DE ENVIO DE CORREOS</h2>
 


   
<form action="@Url.Action("Upload")"enctype="multipart/form-data" method="Post">

            
    <div>

       To : <input type="text" name="txtTo" />

        </div>
       
    <div>   
        Subject :

        <input type="text" name="txtSubject" />

   </div>
       
   <div>
        Message :

       @Html.TextArea("txtMessage")

    </div>
       
    <div> 

  

<!-- <label for="fichero">Fichero:</label>

    <input type="file" name="fichero" > -->

    </div>

    <div>

     <input type="submit" name="button" value="Enviar Correo" />
       
    </div>  
        
</form>


    
   
 
      
       


