@model MvcApplication5.Models.Class1

<fieldset>
    <legend>Class1</legend>

    <div class="display-label">EmailAdress</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailAdress)
    </div>

    <div class="display-label">button</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Failed)
    </div>

    <div class="display-label">txtTo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Send)
    </div>
</fieldset>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
