body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

dt, dd {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    width: auto;
    width: 20%;
}

dd {
    background-color: #a9a9a9
}

