@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "SelectPdf Free Html To Pdf Converter for .NET - Helper Page - View HTTP Cookies - C# / ASP.NET MVC";
    ViewBag.Description = "SelectPdf Free Html To Pdf Converter Helper Page - View HTTP Cookies. C#/ASP.NET MVC Sample. Pdf Library for .NET with full sample code in C# and VB.NET.";
    ViewBag.Keywords = "http cookies, pdf library, sample code, html to pdf, pdf converter";
}

    <article class="post type-post status-publish format-standard hentry">
        <header class="entry-header">
            <h1 class="entry-title">SelectPdf Free Html To Pdf Converter - Helper Page - View HTTP Cookies - C# / ASP.NET MVC Sample</h1>
        </header>
        <!-- .entry-header -->

        <div class="entry-content">
            <p>
                This page shows the HTTP Cookies sent to it:
                <br />
                @Html.Raw(ViewData["cookiesValue"])
            </p>
        </div>
        <!-- .entry-content -->
    </article>
    <!-- #post -->



 
