<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="AdventureWorks.Shopper.CSharp" Publisher="C=US, S=Washington, L=Redmond, O=Microsoft Corporation, CN=Microsoft Corporation" Version="1.1.0.4" />
  <Properties>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <DisplayName>AdventureWorks Shopper C# Sample</DisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="AdventureWorks.Shopper">
      <m2:VisualElements DisplayName="AdventureWorks Shopper C# sample" Description="AdventureWorks Shopper C# sample" BackgroundColor="#1d1d1d" ForegroundText="light" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png">
        <m2:DefaultTile ShortName="AdventureWorks Shopper C#" Wide310x150Logo="Assets\WideLogo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen BackgroundColor="#1d1d1d" Image="Assets\SplashScreen.png" />
        <m2:ApplicationView MinWidth="width320" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>