@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    @Scripts.Render("~/bundles/modernizr", "~/bundles/jquery", "~/bundles/jqueryui")

</head>
<body>

<h1>A Sample of jQuery UI Autocomplete With ASP.NET Web API</h1>
<div style="margin:0 auto;width:320px"><a href="http://techbrij.com/987/jquery-ui-autocomplete-asp-net-web-api" target="_blank" style="background-color: #3B5998; border-radius: 6px; color: white; display: block; font-size: 18px; font-weight: bold; margin: 7px; min-width: 300px; padding: 10px; text-align: center; width: 320px;">View Article / Add Comment</a></div>
    <div style="margin-top:10px">
       Enter Search Terms(eg: god): <input type="text" id="txtSearch" />
        <script type="text/javascript">
            $(function () {
                $('#txtSearch').autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: '/api/values',
                            type: 'GET',
                            cache: false,
                            data: request,
                            dataType: 'json',
                            success: function (json) {
                                // call autocomplete callback method with results  
                                response($.map(json, function (name, val) {
                                    return {
                                        label: name,
                                        value: val
                                    }
                                }));
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                //alert('error - ' + textStatus);
                                console.log('error', textStatus, errorThrown);
                            }
                        });
                    },
                    minLength: 2,
                    select: function (event, ui) {
                        alert('you have selected ' + ui.item.label + ' ID: ' + ui.item.value);
                        $('#txtSearch').val(ui.item.label);
                        return false;
                    }
                })
            });
   </script>
    </div>
</body>
</html>
