
@{
    ViewBag.Title = "jQuery Datatable With Server Side Data";
}

<h2>jQuery Datatable With Server Side Data</h2>

<table id="myGrid" class="table">
    <thead>
        <tr>
            <th>SalesOrderID</th>
            <th>SalesOrderDetailID</th>
            <th>CarrierTrackingNumber</th>
            <th>OrderQty</th>
            <th>ProductID</th>
            <th>UnitPrice</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>SalesOrderID</th>
            <th>SalesOrderDetailID</th>
            <th>CarrierTrackingNumber</th>
            <th>OrderQty</th>
            <th>ProductID</th>
            <th>UnitPrice</th>
        </tr>
    </tfoot>
</table>
