<configuration>
  
  <!--uncomment to enable tracing-->
  <!--<system.diagnostics>
    <switches>
      --><!--  0-off, 1-error, 2-warn, 3-info, 4-verbose. --><!--
      <add name="SyncTracer" value="0"/>
    </switches>

    <trace autoflush="true">
      <listeners>
        <add name="TestListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\TraceSample.txt"/>
      </listeners>
    </trace>
  </system.diagnostics>-->
	
</configuration>
