@using FluentValidationSample.Models

<div class="btn-group">
    <a id="addEditStudent" data-toggle="modal" href="@Url.Action("AddEditStudent")"  data- data-target="#modal-add-edit-student" class="btn btn-primary">
        <i class="glyphicon glyphicon-plus"></i> Add New
    </a>
</div>

@Html.Partial("_Modal", new BootstrapModal { ID = "modal-add-edit-student", AreaLabeledId = "modal-add-edit-student-label" })

@section scripts
{
    @Scripts.Render("~/Scripts/jQuery.customValidate.js" , "~/Scripts/student-index.js")
}
