<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AutocompleteTextBox.Properties.Settings.ParoleConnectionString"
            connectionString="Data Source=|DataDirectory|\Parole.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>