@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <title>Hello React</title>
</head>
<body>
    <table width="99%" style=" border-bottom:3px solid #3273d5;">
        <tr>


            <td class="style1" align="center">
                <h2>Shanu - Welcome to my first ReactJs with MVC and WCF REST Service :)</h2>


            </td>

        </tr>
        <tr>
            <td></td>
        </tr>
    </table>

    <table style='width: 99%;table-layout:fixed;'>
        <tr>
            <td>
                <table style=" background-color:#FFFFFF; border: dashed 3px #6D7B8D; padding: 5px;width: 99%;table-layout:fixed;" cellpadding="2"
                       cellspacing="2">
                    <tr style="height: 30px; background-color:#336699 ; color:#FFFFFF ;border: solid 1px #659EC7;">
                        <td align="center">
                            <h3> Here is our WCF REST Service Json result from ReactJS</h3>
                        </td>

                </table>
            </td>
        </tr>
    </table>
    <br />

    <table width="80%" align="center">
        <tr>
            <td align="center">


                <table style=" background-color:#FFFFFF; border: solid 2px #6D7B8D; padding: 5px;width: 100%;table-layout:fixed;" cellpadding="2" cellspacing="2">
                    <tr style="height: 30px; background-color:#336699 ; color:#FFFFFF ;border: solid 1px #659EC7;">
                        <td width="40"></td>
                        <td width="140" align="center">
                            <b>ItemID</b>
                        </td>
                        <td width="240" align="center" style="border: solid 1px #FFFFFF; padding: 5px;table-layout:fixed;cursor: pointer;">
                            <b>ItemName</b>
                        </td>
                        <td width="120" align="center" style="border: solid 1px #FFFFFF; padding: 5px;table-layout:fixed;cursor: pointer;">
                            <b>Price</b>
                        </td>
                        <td width="420" align="center" style="border: solid 1px #FFFFFF; padding: 5px;table-layout:fixed;cursor: pointer;">
                            <b>Decription</b>
                        </td>
                        

                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>


                <div id="reactContent" style="color:red"></div>
            </td>
        </tr>
       
    </table>

    <script src="http://fb.me/react-0.13.1.js"></script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/shanuReactJS.jsx"></script>

</body>
</html>