<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OleDbHelper_CS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OleDbHelper_CS.Properties.Settings>
            <setting name="FileName" serializeAs="String">
                <value>C:\Data\Myfile.xlsx</value>
            </setting>
            <setting name="SheetName" serializeAs="String">
                <value>SomeSheet$</value>
            </setting>
        </OleDbHelper_CS.Properties.Settings>
    </userSettings>
</configuration>