@model IEnumerable<DeleteMultipleWebgrid.CustomerInfo>

@{
    ViewBag.Title = "List";
    var grid = new WebGrid(source: Model, rowsPerPage: 10);
}

@* Here I will add some css for look webgrid good *@
<style type="text/css">
    table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
</style>


<div style="font-weight:bold;">
    Customer List
</div>

@using (Html.BeginForm("DeleteSelected", "Customer", FormMethod.Post))
{
    @grid.GetHtml(
    tableStyle: "gridtable",
    columns:
        grid.Columns(

        @*Here I Will Add Checkbox Column*@
grid.Column(format: @<text><input type="checkbox" name="ids" value="@item.CustomerID" /></text>, header: "Select"),
                grid.Column("CustomerID", "Customer ID"),
                grid.Column("CustomerName", "Customer Name"),
                grid.Column("Address", "Address"),
                grid.Column("City", "City"),
                grid.Column("PostalCode", "Postal Code")
            )
        )

    <input type="submit" value="Delete Selected" />
}