<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TesseractOCR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TesseractOCR.Properties.Settings>
            <setting name="TessdataPath" serializeAs="String">
                <value>d:\temp\tessdata</value>
            </setting>
            <setting name="Lang" serializeAs="String">
                <value>eng</value>
            </setting>
        </TesseractOCR.Properties.Settings>
    </userSettings>
</configuration>