<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JavaSampleApp</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
      <servlet-name>requestHandler</servlet-name>
      <servlet-class>org.sampleapp.RequestHandler</servlet-class>
      <init-param>
          <param-name>DataContractVersion</param-name>
          <param-value>api-version=2013-11-08</param-value>
      </init-param>

      <init-param>
          <param-name>TenantContextId</param-name>
          <param-value>4fd2b2f2-ea27-4fe5-a8f3-7b1a7c975f34</param-value>
      </init-param>

      <init-param>
          <param-name>TenantDomainName</param-name>
          <param-value>graphDir1.onMicrosoft.com</param-value>
      </init-param>
      
      <init-param>
          <param-name>ProtectedResourcePrincipalId</param-name>
          <param-value>00000002-0000-0000-c000-000000000000</param-value>
      </init-param>
      
      <init-param>
          <param-name>ProtectedResourceHostName</param-name>
          <param-value>graph.windows.net</param-value>
      </init-param>
            
      <init-param>
          <param-name>RestServiceHost</param-name>
          <param-value>graph.windows.net</param-value>
      </init-param>

      <init-param>
          <param-name>AppPrincipalId</param-name>
          <param-value>118473c2-7619-46e3-a8e4-6da8d5f56e12</param-value>            
      </init-param>
      
      <init-param>
          <param-name>EvoStsUrl</param-name>
        <param-value>https://login.windows.net/%s/oauth2/token?api-version=1.0</param-value> 
      </init-param>
      
      <init-param>
          <param-name>SymmetricKey</param-name>
          <param-value>hOrJ0r0TZ4GQ3obp+vk3FZ7JBVP+TX353kNo6QwNq7Q=</param-value>  
      </init-param>
      
      <init-param>
          <param-name>AcsPrincipalId</param-name>
          <param-value>00000001-0000-0000-c000-000000000000</param-value>
      </init-param>
            
  </servlet>
  
  <servlet-mapping>
      <servlet-name>requestHandler</servlet-name>
      <url-pattern>/requestHandler</url-pattern>
  </servlet-mapping>

</web-app>