<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="OConnectionString" connectionString="Data Source=.;Initial Catalog={YourDatabaseName};Persist Security Info=True;User ID={YourID};Password={YourPassword}"/>
  </connectionStrings>

  <system.web>
    <compilation targetFramework="4.0" />
  </system.web>

</configuration>
