@{
    ViewBag.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
        <p>


        </p>
    </div>
</section>
}



<ol class="round">
    <li class="one">
        <h2>Locate Blood Donors</h2>
        This Project is for helping people who need to find Blood Donors. 
    </li>

</ol>

<section class="features">
    <section class="feature">
        
        <a href="/Donor"><img src="~/Images/aspNetHome.png" alt=""  /></a>
        <h3>Home of ASP.NET</h3>
        <p>
            ASP.NET is a free, fully supported Web application framework that helps you create standards-based web solutions. 
            Whether you're new to ASP.NET or an experienced developer, the <a href="http://asp.net">ASP.NET website</a> 
            is your source for news, training, downloads, and support.
        </p>
    </section>
    <section class="feature">
        <img src="~/Images/NuGetGallery.png" alt="" />
        <h3>NuGet Gallery</h3>
        <p>
            NuGet is a Visual Studio extension that makes it easy to install and update open source libraries and tools in 
            Visual Studio. To see available packages, visit the <a href="http://nuget.org">NuGet gallery</a>.
            You can also develop your own package and share it in the gallery.
        </p>
    </section>
    <section class="feature">
        <img src="~/Images/findHosting.png" alt="" />
        <h3>Find Web Hosting</h3>
        <p>
            You can easily find a web hosting company that offers the right mix of features and price for your applications. 
            Visit <a href="http://microsoft.com/web/hosting" title="Microsoft/Web Website">Microsoft.com/web</a> to 
            explore offerings from many providers.
        </p>
    </section>
</section>