<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PatientHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PatientHelper.Properties.Settings>
            <setting name="PatientHelper_com_msn_search_soap_MSNSearchService"
                serializeAs="String">
                <value>http://soap.search.msn.com:80/webservices.asmx</value>
            </setting>
        </PatientHelper.Properties.Settings>
    </applicationSettings>
</configuration>