<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
 </configSections>
    <connectionStrings>
  <add name="Services.Properties.Settings.Server" connectionString="Data Source=(local)\SQLFULL;Initial Catalog=Server;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Server" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local)\SQLFULL;Initial Catalog=Server;Integrated Security=True&quot;"
   providerName="System.Data.EntityClient" />
 </connectionStrings>
    <system.web>
        <compilation debug="true" />
    </system.web>
    <system.diagnostics>
        <trace autoflush="true"/>
        <sources>
            <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
                <listeners>
                    <add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Trace.svcLog" />
                </listeners>
            </source>
        </sources>
    </system.diagnostics>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <services>
            <service name="Services.SchemaService">
                <endpoint binding="netTcpBinding" bindingConfiguration="NetTcpBinding"
     contract="Services.SchemaService" />
                <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost/Schema" />
                    </baseAddresses>
                </host>
            </service>
            <service name="Services.RepositoryService">
                <endpoint binding="netTcpBinding" bindingConfiguration="NetTcpBinding"
     contract="Services.RepositoryService" />
                <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost/Repository" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceDebug includeExceptionDetailInFaults="True" />
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
    <applicationSettings>
        <Services.Properties.Settings>
   <setting name="IdRange" serializeAs="String">
    <value>10000</value>
   </setting>
   <setting name="SchemaVersion" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="MinClientId" serializeAs="String">
    <value>-2000000</value>
   </setting>
  </Services.Properties.Settings>
    </applicationSettings>
</configuration>