<?xml version="1.0"?>
<configuration>
	<system.diagnostics>
		<trace>
			<listeners>
				<add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
					<filter type=""/>
				</add>
			</listeners>
		</trace>
	</system.diagnostics>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.serviceModel>

    <services>
      <service name="FlashWCFWebRole.FlashCardService" behaviorConfiguration="defaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="streaming" contract="FlashCardsService.Contracts.IFlashCardService"/>        
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <bindings>
      <basicHttpBinding>
        <!--Streaming. Max file size 5M-->
        <binding name="streaming" transferMode="StreamedRequest" maxReceivedMessageSize="5242880">           
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>

        <behavior name="defaultBehavior">         
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>

          <useRequestHeadersForMetadataAddress>
            <defaultPorts>
              <add scheme="http" port="81" />
              <add scheme="https" port="444" />
            </defaultPorts>
          </useRequestHeadersForMetadataAddress>

        </behavior>
      </serviceBehaviors>
    </behaviors>
		
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
	</system.webServer>
</configuration>
