<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <connectionStrings>
    <add name="DatabaseContext" connectionString="metadata=&quot;res://*/App_Logic.Entity Model.DatabaseContext.csdl|res://*/App_Logic.Entity Model.DatabaseContext.ssdl|res://*/App_Logic.Entity Model.DatabaseContext.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;Data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\Database.mdf;User Instance=true&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--
  App_Data: <add name="DatabaseContext" connectionString="metadata=&quot;res://*/App_Logic.Entity Model.DatabaseContext.csdl|res://*/App_Logic.Entity Model.DatabaseContext.ssdl|res://*/App_Logic.Entity Model.DatabaseContext.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;Data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\Database.mdf;User Instance=true&quot;"
      providerName="System.Data.EntityClient" />
  Sql Server: <add name="DatabaseContext" connectionString="metadata=&quot;res://*/App_Logic.Entity Model.DatabaseContext.csdl|res://*/App_Logic.Entity Model.DatabaseContext.ssdl|res://*/App_Logic.Entity Model.DatabaseContext.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=EmployeeInfo_SK_5_0;Integrated Security=True&quot;" providerName="System.Data.EntityClient" />
  -->
  <system.web>
    <pages styleSheetTheme="Default" enableEventValidation="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="Predictable" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" batch="false">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" defaultRedirect="~/App_Resources/messages/error-page.aspx" />
    <sessionState timeout="10" />
    <authentication mode="Forms">
      <forms timeout="30" loginUrl="~/secured/log-in/log-in.aspx" />
    </authentication>
    <authorization>
      <allow users="?" />
    </authorization>
  </system.web>
  <location path="secured/admin">
    <system.web>
      <authorization>
        <allow roles="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="secured/member">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="employee/edit">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
</configuration>