<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="White">
      <section name="Core" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="EventAggregationApp" value="EventAggregation.exe"/>

    <add key="TestDataInputFile" value=".\TestData\TestDataInput.resx"/>
    <add key="ControlIdentifiersFile" value=".\TestData\ControlIdentifiers.resx"/>

    <!-- time (in ms) to wait for the application to load -->
    <add key="ApplicationLoadWaitTime" value="30000"/>
  </appSettings>
  
  <!-- white configuration parameters -->
  <White>
    <Core>
      <add key="PopupTimeout" value="30000" />
      <add key="SuggestionListTimeout" value="30000" />
      <add key="BusyTimeout" value="30000" />
      <add key="UIAutomationZeroWindowBugTimeout" value="30000" />
    </Core>
  </White>
</configuration>