@model dynamic

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";   
    
}

@{
    Context.Trace.Warn("This works in MVC 3/RC 2"); 
}

    <h2>Simple Details</h2>

    <h1> @ViewBag.wasRedirected</h1>
   VirtualPath =  @this.VirtualPath
