<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Repository.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Repository.Properties.Settings>
            <setting name="Reseed" serializeAs="String">
                <value>declare @ID int;
select @ID = isnull(max(ID), @min) from Customers where ID between @min and @max;
DBCC CHECKIDENT (Customers, RESEED, @ID);
select @ID = isnull(max(ID), @min) from Orders where ID between @min and @max;
DBCC CHECKIDENT (Orders, RESEED, @ID);</value>
            </setting>
        </Repository.Properties.Settings>
    </applicationSettings>
</configuration>