<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
	</system.web>
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="WSFederationSecurityTokenService.Service1Behavior"
			  name="WSFederationSecurityTokenService.WSFederationSecurityTokenService">
				<endpoint address="" binding="webHttpBinding" contract="WSFederationSecurityTokenService.IWSFederationSecurityTokenService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="WSFederationSecurityTokenService.Service1Behavior">
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
			multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true"/>
		<!-- Rewrite the usual federationmetadata.xml path to be rerouted to the service.-->
		<rewrite>
			<rules>
				<rule name="Rewrite federation metadata url">
					<match url="(federationmetadata/2007-06/federationmetadata.xml)"/>
					<action type="Rewrite" url="WSFederationSecurityTokenService.svc/{R:1}"/>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
