@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<img src="~/images/company-logo.png" alt="Company Logo" />
<address>
    Green Street, 1<br />
    Green City, Green Land<br />
    <abbr title="Phone">P:</abbr>
    +(380)11-222-33-44
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
