<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>How to use jQuery Grid with ASP.NET MVC</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/grid-0.4.3.min.css" rel="stylesheet" type="text/css">

    <script src="~/Scripts/jquery-2.1.3.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/grid-0.4.3.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        var grid;
        function Add() {
            $("#playerId").val("");
            $("#name").val("");
            $("#placeOfBirth").val("");
            $("#dateOfBirth").val("");
            $("#playerModal").modal("show");
        }
        function Edit(e) {
            $("#playerId").val(e.data.id);
            $("#name").val(e.data.record.Name);
            $("#placeOfBirth").val(e.data.record.PlaceOfBirth);
            $("#dateOfBirth").val(e.data.record.DateOfBirth);
            $("#playerModal").modal("show");
        }
        function Save() {
            var player = {
                ID: $("#playerId").val(),
                Name: $("#name").val(),
                PlaceOfBirth: $("#placeOfBirth").val(),
                DateOfBirth: $("#dateOfBirth").val()
            };
            $.ajax({ url: "Home/Save", type: "POST", data: { player: player } })
                .done(function () {
                    grid.reload();
                    $("#playerModal").modal("hide");
                })
                .fail(function () {
                    alert("Unable to save.");
                    $("#playerModal").modal("hide");
                });
        }
        function Remove(e) {
            $.ajax({ url: "Home/Remove", type: "POST", data: { id: e.data.id } })
                .done(function () {
                    grid.reload();
                })
                .fail(function () {
                    alert("Unable to remove.");
                });
        }
        function Search() {
            grid.reload({ searchString: $("#search").val() });
        }

        $(document).ready(function () {
            grid = $("#grid").grid({
                dataKey: "ID",
                uiLibrary: "bootstrap",
                columns: [
                    { field: "ID", width: 50, sortable: true },
                    { field: "Name", sortable: true },
                    { field: "PlaceOfBirth", title: "Place Of Birth", sortable: true },
                    { field: "DateOfBirth", title: "Date Of Birth", sortable: true },
                    { title: "", field: "Edit", width: 34, type: "icon", icon: "glyphicon-pencil", tooltip: "Edit", events: { "click": Edit } },
                    { title: "", field: "Delete", width: 34, type: "icon", icon: "glyphicon-remove", tooltip: "Delete", events: { "click": Remove } }
                ],
                pager: { enable: true, limit: 5, sizes: [2, 5, 10, 20] }
            });
            $("#btnAddPlayer").on("click", Add);
            $("#btnSave").on("click", Save);
            $("#btnSearch").on("click", Search);
        });
    </script>

</head>
<body>

    <div class="container fill">
        <h2>How to use jQuery Grid with ASP.NET MVC</h2>
        <br/>
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" id="search" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button type="button" id="btnSearch" class="btn btn-default">Go!</button>
                    </span>
                </div>
            </div>
            <div class="col-md-9">
                <button type="button" id="btnAddPlayer" class="btn btn-default pull-right">Add New Player</button>
            </div>
        </div>
        <br/>
        <table id="grid" data-source="@Url.Action("GetPlayers")"></table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="playerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Player</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" id="playerId" />
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter Name">
                        </div>
                        <div class="form-group">
                            <label for="placeOfBirth">Place Of Birth</label>
                            <input type="text" class="form-control" id="placeOfBirth" placeholder="Enter Place Of Birth">
                        </div>
                        <div class="form-group">
                            <label for="dateOfBirth">Date Of Birth</label>
                            <input type="text" class="form-control" id="dateOfBirth" placeholder="Enter Date Of Birth">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="btnSave" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
