USE [master]
GO
/****** Object:  Database [CustomerEntityFrameworkSample]    Script Date: 1/21/2017 9:26:30 AM ******/
CREATE DATABASE [CustomerEntityFrameworkSample]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CustomerEntityFrameworkSample', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CustomerEntityFrameworkSample.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CustomerEntityFrameworkSample_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CustomerEntityFrameworkSample_log.ldf' , SIZE = 18240KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CustomerEntityFrameworkSample].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CustomerEntityFrameworkSample]
GO
USE [CustomerEntityFrameworkSample]
GO
/****** Object:  Sequence [dbo].[GetInvoiceNumber]    Script Date: 1/21/2017 9:26:30 AM ******/
CREATE SEQUENCE [dbo].[GetInvoiceNumber] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 999
 CYCLE 
 CACHE  10 
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 1/21/2017 9:26:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[ZipCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FirstNames]    Script Date: 1/21/2017 9:26:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FirstNames](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_FirstNames] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LastNames]    Script Date: 1/21/2017 9:26:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LastNames](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_LastNames] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 1/21/2017 9:26:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[OrderDate] [datetime2](7) NULL,
	[Invoice] [nvarchar](max) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StateLookup]    Script Date: 1/21/2017 9:26:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StateLookup](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [varchar](32) NULL,
	[StateAbbrev] [char](2) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([id], [FirstName], [LastName], [Address], [City], [State], [ZipCode]) VALUES (1, N'Stefanie', N'Buckley', N'36 West Fabien St.', N'Lincoln', N'Kentucky', N'59898     ')
INSERT [dbo].[Customer] ([id], [FirstName], [LastName], [Address], [City], [State], [ZipCode]) VALUES (2, N'Sandy', N'Mc Gee', N'935 Nobel Way', N'Arlington', N'Iowa', N'47471     ')
INSERT [dbo].[Customer] ([id], [FirstName], [LastName], [Address], [City], [State], [ZipCode]) VALUES (3, N'Lee Ann', N'Warren', N'91 Hague Parkway', N'Newark', N'Indiana', N'51737     ')
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[FirstNames] ON 

INSERT [dbo].[FirstNames] ([id], [Name]) VALUES (1, N'Aaron')
INSERT [dbo].[FirstNames] ([id], [Name]) VALUES (2, N'Abbey')
INSERT [dbo].[FirstNames] ([id], [Name]) VALUES (3, N'Abbie')
GO
SET IDENTITY_INSERT [dbo].[FirstNames] OFF
SET IDENTITY_INSERT [dbo].[LastNames] ON 

INSERT [dbo].[LastNames] ([id], [Name]) VALUES (1, N'Abbey')
INSERT [dbo].[LastNames] ([id], [Name]) VALUES (2, N'Abedi')
INSERT [dbo].[LastNames] ([id], [Name]) VALUES (3, N'Abelar')
GO
SET IDENTITY_INSERT [dbo].[LastNames] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([id], [CustomerId], [OrderDate], [Invoice]) VALUES (1, 7, CAST(N'2017-06-20 06:27:56.8903722' AS DateTime2), N'5MRV12O1ZW9NRUEKQHZ9TKTC2W076BYAQ89')
INSERT [dbo].[Orders] ([id], [CustomerId], [OrderDate], [Invoice]) VALUES (2, 5, CAST(N'2017-09-23 07:46:08.9850208' AS DateTime2), N'I16UG509VUVD0ZXP76X76OJ1Y2KEWQMU6OVPB')
INSERT [dbo].[Orders] ([id], [CustomerId], [OrderDate], [Invoice]) VALUES (3, 5, CAST(N'2017-11-09 16:21:36.3880337' AS DateTime2), N'QQPU5VXH5VBW9X6KXW7V9K15Q0SDUBQTNDP')
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[StateLookup] ON 

INSERT [dbo].[StateLookup] ([id], [StateName], [StateAbbrev]) VALUES (1, N'Alabama', N'AL')
INSERT [dbo].[StateLookup] ([id], [StateName], [StateAbbrev]) VALUES (2, N'Alaska', N'AK')
INSERT [dbo].[StateLookup] ([id], [StateName], [StateAbbrev]) VALUES (3, N'Arizona', N'AZ')
SET IDENTITY_INSERT [dbo].[StateLookup] OFF
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customer]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customer1] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customer1]
GO
USE [master]
GO
