<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CitiBankEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=JUANJUAN-PC\CITIBANK;Initial Catalog=CitiBank;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="CitiBankEntities1" connectionString="metadata=res://*/CitiBank.csdl|res://*/CitiBank.ssdl|res://*/CitiBank.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=JUANJUAN-PC\CITIBANK;Initial Catalog=CitiBank;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>