<configuration>
	<system.serviceModel>
		<extensions>
			<bindingElementExtensions>
				<add name="customTextMessageEncoding" type="Microsoft.Samples.CustomTextMessageEncoder.CustomTextMessageEncodingElement, CustomTextMessageEncoder, Version=4.0.0.0, Culture=neutral, PublicKeyToken=71062dbfcab17aa3"/>
			</bindingElementExtensions>
		</extensions>
</configuration>
