.navbar {
    display:none !important;
}

nav {
    display: none !important;
    visibility: hidden !important;
}

table {
    font-size: 10pt !important;    
}

@page {
    size: A4;
    margin: 5cm;
}