<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="CompuSight.Metro.Samples.Logging" Publisher="CN=Can" Version="1.0.0.0" />
  <Properties>
    <DisplayName>CompuSight.Metro.Samples.Logging</DisplayName>
    <PublisherDisplayName>Can</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="CompuSight.Metro.Samples.Logging.App">
      <VisualElements DisplayName="CompuSight.Metro.Samples.Logging" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="CompuSight.Metro.Samples.Logging" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>