<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="estudoContext" connectionString="persistsecurityinfo=True;server=localhost;user id=root;password=SUASENHA;database=estudo" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>