<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0"/>
    </startup>
    <connectionStrings>
        <add name="LocalData" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local)\SQLEXPRESS;Initial Catalog=Client;Integrated Security=True&quot;"
   providerName="System.Data.EntityClient" />
    </connectionStrings>
    <system.diagnostics>
        <trace autoflush="true">
            <listeners>
                <add name="FileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Trace.log"/>
            </listeners>
        </trace>
        <sources>
            <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
                <listeners>
                    <add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Trace.svcLog" />
                </listeners>
            </source>
        </sources>
    </system.diagnostics>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding" maxReceivedMessageSize="1048576">
                    <readerQuotas maxStringContentLength="1048576" />
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost/Sync" binding="netTcpBinding"
             bindingConfiguration="NetTcpBinding" contract="SyncService.SyncService" />
            <endpoint address="net.tcp://localhost/Repository" binding="netTcpBinding"
             bindingConfiguration="NetTcpBinding" contract="RepositoryService.RepositoryService" />
            <endpoint address="net.tcp://localhost/Schema" binding="netTcpBinding"
             bindingConfiguration="NetTcpBinding" contract="SchemaService.SchemaService" />
        </client>
    </system.serviceModel>
    <userSettings>
        <Client.Properties.Settings>
            <setting name="LastRunOnline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncAfterClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartOnline" serializeAs="String">
                <value>True</value>
            </setting>
        </Client.Properties.Settings>
    </userSettings>
</configuration>