<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--Streaming. Max file size 5M-->
        <binding name="streaming" transferMode="StreamedRequest" maxReceivedMessageSize="5242880">
        </binding>
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint name="FlashCardEP" address="http://flashcardsshow.cloudapp.net:81/FlashCardsService.svc"
                binding="basicHttpBinding" bindingConfiguration="streaming" contract="FlashCardsService.Contracts.IFlashCardService" >
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>