<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah" version="1.2.2" />
  <package id="elmah.corelibrary" version="1.2.2" />
  <package id="EntityFramework" version="5.0.0-rc" />
  <package id="EntityFramework.SqlServerCompact" version="4.3.2" />
  <package id="SqlServerCompact" version="4.0.8482.1" />
  <package id="System.Web.Providers" version="1.1" />
  <package id="System.Web.Providers.Core" version="1.0" />
</packages>