body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


.loadmore {
    text-align: left;
    padding-top: 7px;
    margin-top: 5px;
    background: #fff;
    display: block;
    width: 50%;
}

.color-red {
    color: #fbc10b;
    /*text-transform: lowercase;
    font-style: italic;*/
}

.color-green {
    color: green;
}

.color-blue {
    color: #53bee6;
    text-transform: lowercase;
    font-style: italic;
}

.color-orange {
    color: #fbc10b;
    text-transform: lowercase;
    font-style: italic;
}

.error {
    color: red;
}
.facePreview_thumb_big {
    position:relative;
    display:grid;
}

.facePreview_thumb_small {
    display: block;
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
    padding:0px;
    margin:0px;
}

    .facePreview_thumb_small img {
        padding: 3px;
        border: 1px solid #eee;
        margin: 2px;
    }

    .facePreview_thumb_small ul {
        margin-top: 10px;
        margin-left: 25px;
        padding: 0px;
    }

        .facePreview_thumb_small ul li {
            color: #222;
            list-style-type: square;
        }
