@model ConditionalValidation.Models.Home.IndexModel
@{
    ViewBag.Title = "Pending Requests";
}
<h2>Pending Requests</h2>
@{ var grid = new WebGrid(Model.PendingRequests, canPage: false, canSort: false);}
@grid.GetHtml(
    columns: grid.Columns(
        grid.Column(format: @<text>@Html.ActionLink("edit", "Edit", "Home", new {id = item.Id}, null)</text>),
        grid.Column("Title")
    )    
)