<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RelatorioReportViewer.Properties.Settings.Acoes_ColetivasConnectionString"
            connectionString="Data Source=PAULOHENRIQUEPC\SQLEXPRESS;Initial Catalog=Acoes_Coletivas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>